
*{
    box-sizing: border-box;
    text-align: center;
  }
  
  body {font-size: 24px
  }
  
  header {
     padding: 20px;
    margin-bottom: 10px;
    color: #333;
    background: #ccc;  
  }
  nav {padding: 20px;
    margin-bottom: 30px;
    color: #333;
    background: #ccc;}

  section {
      float:left;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    height: 200px;  
    
    
     float: left;
     width: 52%}
     
  
    article{
      background-color: #333
    }
  
  aside {
    padding: 20px;
    margin-bottom: 20px;
    width: 47%;
    color: #333;
    background: #ccc;
    float: right;
    height: 200px;
    }
  
  

  
  footer {
  clear: both;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc}
  